*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    height: 30vh;
    background: rgb(149, 97, 204);
}
.Wrap {
    height: 100vh;
    background: rebeccapurple;
}
.footer {
    height: 30vh;
    background: rgb(179, 121, 224);